.register-div, .contact-div{
    width: 700px;
    display: grid;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px black;
    height: 226px;
}

.register-div {
    background-color: var(--shadow-color);
    grid-template-columns: 2fr 1fr;
}

.register-img, .contact-Img{
    width: 200px;
}
.contact-Img {
    padding-top: 23px;
}

.register-text {
    padding: 20px 0;
}

.contact-div {
    grid-template-columns: 1.2fr 1.8fr;
    align-self: flex-end;
    background-color: var(--name-color);
    margin-top: 100px;
}

.form-input-div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 5px;
    font-size: .85em;
}

.form-input-div input {
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
}
.btn2{
    box-shadow: none;
}
.btn2:hover{
    border-color: var(--shadow-color);
    box-shadow: none;
}
